{% extends 'upsapp/base.html' %}

{% block title %}Welcome to UPS!{% endblock %}
{% block content %}
<br>

<div class="row">
    <div class="col">
        <div class="input-group mb-3">
            
            <form method="get">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Tracking Number</span>
                    <input type="text" class="form-control" name="pkgnum" id="pkg_id" aria-label="Default" aria-describedby="inputGroup-sizing-default" size="50">
                <button class="btn btn-outline-secondary" type="submit">Track</button>
                </div>
            </form>
            <br><br>
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">Tracking Number</th>
                    <th scope="col">Status</th>
                    <th scope="col">Detail</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pkg in queryset %}
                        <tr>
                            <td>{{ pkg.package_id }}</td>
                            <td>{{ pkg.status }}</td>
                            <td>
                                <a class="btn btn-outline-success btn-sm" href="{% url 'upsapp:detail' pkg.id %}" role="button">View Detail</a>
                            </td>
                        </tr>
                    {% endfor%}
                </tbody>
            </table>
        </div>
    </div>

  <div class="col">
    <div class="card" style="width: 30rem;">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-8">
                    <p class="card-text">
                    <strong>Introducing UPS Account.</strong>
                    <br>
                    Track all your shipments like a pro
                    <br>
                    </p>
                </div>
                <div class="col-sm-4">
                    {% if not user.is_authenticated %}
                        <a href="{% url 'upsapp:signup'%}" class="btn btn-outline-success btn-md">Sign Up Now!</a>
                    {% endif %}
                </div>
            </div>
            <hr>

            {% if user.is_authenticated %}
                You already signed in.
                <br><br>       
                <div class="btn-group-vertical">
                    <a href="{% url 'upsapp:update'%}" class="btn btn-outline-success btn-sm">Update Profile</a>
                    <a href="{% url 'upsapp:list'%}" class="btn btn-outline-success btn-sm">Manage all my packages</a>
                </div>

            {% else %}
                Already Have an Account? <a href={% url 'upsapp:login'%}> Log In </a>
            {% endif %}

        </div>
        </div>
    </div>
</div>

{% endblock %}